<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/userissue.css">
 

    <title>User Profile</title>
</head>
<body>
    <header>
      
        <% if (username) { %>
            
            <h1 style="color: rgb(43, 226, 208)"> <span id="span" style="color: rgb(226, 43, 195)"> Hey  </span> <%=  username%>
            <% } %></h1>
    </header>

    <section class="complaints">
        <h2>Issue Raised By You </h2>
        <ul class="issuelist" id="issuelist">
            <!-- Complaints will be dynamically added here -->
        </ul>
    </section>
        
    <script  src="/javascripts/userissue.js"></script>
</body>
</html>
