body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header,footer {
    background-color: #333;
    color: #fff;
    padding: 30px;
    text-align: center;
    font-size:200% ;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input, select, button {
    padding: 8px;
}

button {
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #555;
}

#results-container {
    margin-top: 20px;
}
#mun_name
{ 
    color: rgb(43, 226, 95);
    float: right;
}

