body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.complaints {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.complaints h2 {
    color: #333;
}

.complaints-list {
    list-style-type: none;
    padding: 0;
}

.complaint-details {
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.complaint-details h3 {
    color: #007bff;
    margin-bottom: 5px;
}

.complaint-details p {
    margin: 5px 0;
    color: #555;
}

/* .container {
    max-width: 400px;
    margin: 50px auto;
}

label {
    display: block;
    margin-bottom: 5px;
} */